<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <%- messages() %>
        <div id="logged-in">
            <h3>Welcome  <%= user.account_firstname %></h3>
            <p>You're logged in</p>
             
    <% if (user.account_type === 'Employee' || user.account_type === 'Admin') { %>
        <h3>Inventory Management</h3>
        <p><a href="/inv/add-Inventory/">Inventory Management</a></p>
    <% } %>

    <p><a href="/account/update/<%= user.account_id %>">Update Account Information</a></p>
        </div>