/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
.DMC {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 1.5rem;
}
h2,
.DMC {
  font-size: large;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
#top-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
span.siteName {
  font-size: 1.5rem;
  font-weight: 800;
}

#top-header a {
  text-decoration: none;
  color: rgb(48, 46, 46);
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  background-color: rgb(48, 46, 46);
  padding: 1rem;
  text-align: center;
  border-radius: 0.25rem;
}
nav li a {
  text-decoration: none;
  color: rgb(230, 219, 219);
}
.delorean {
  background-image: url("/images/vehicles/delorean-tn.jpg");
  background-position: 5rem;
  background-repeat: no-repeat;
}
.quote {
  width: 8rem;
  background-color: white;
  opacity: 0.5;
  color: mediumblue;
  padding: 0;
  margin-left: 5vw;
}
.delorean .quote a {
  background-color: #9898dd;
  color: black;
  padding: 0.1rem;
}
a#own-today {
  padding: 1rem;
  text-decoration: none;
}
.delorean-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-row-gap: 1rem;
}
.images {
  border: 1px solid #9898dd;
  background-color: #9898dd;
  width: 9rem;
  height: 5.5rem;
}
.images img {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.pimages a {
  display: grid;
  place-items: center;
}
footer,
#content,
.inventory-management,
div#logged-in {
  margin: 2vw;
}
/* Classification and detail pages */

ul#inv-display li {
  list-style: none;
  border: 2px solid #8080807a;
  border-radius: 0.2rem;
  width: 204px;
}
ul#inv-display li a img {
  border-radius: 0.25rem;
}
div.namePrice hr {
  height: 0.25rem;
  background-color: black;
}
p.price,
p.color {
  background-color: rgb(245, 239, 239);
  border: 2px solid rgb(245, 239, 239);
  padding: 0.75rem;
}
div#sub_details {
  margin: 4vw;
}
div#inv_image img {
  width: 100%;
}
ul#inv-display {
  text-align: center;
}
/* form */
div#login_form,
div#register_form,
div#add-vehicle,
div#add-classification,
div#update-form {
  border: 1px solid #b3b3c7;
  width: 21rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(206deg 12.69% 12.71%);
  color: white;
  margin: 2vw;
}
input {
  width: 16rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
input:required:invalid,
input:focus:invalid {
  border-left: red solid 0.3rem;
}
input:required:valid {
  border-left: green solid 0.3rem;
}
span.reminder {
  color: #b3aea7;
}
button#login,
button#register,
button#add-vehicle,
button#add-classification,
button#update-account {
  display: block;
  margin: 0 auto;
  width: 6rem;
  padding: 0.4rem;
  border-radius: 1rem;
}
p#register {
  text-align: center;
}
p#register a {
  color: white;
}
ul.notice,
noscript.notice {
  color: red;
  font-style: italic;
  font-size: large;
  list-style: none;
}
/* Add New Vehicle */

textarea#inv_description {
  width: 16rem;
  height: 4rem;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 500px) {
  body {
    background-color: mediumslateblue;
  }
  div#wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 0.75rem;
    background-color: white;
  }
  span.siteName {
    font-size: 2rem;
    font-weight: 900;
  }
  #top-header {
    display: grid;
    grid-template-columns: 8fr 1fr;
    padding: 1rem;
  }
  .delorean {
    background-image: url("/images/vehicles/delorean.jpg");
    background-position: 9rem;
    background-repeat: no-repeat;
    height: 15rem;
  }
  h1 {
    font-size: xx-large;
    margin: 2vw;
  }
  h2 {
    font-size: x-large;
    margin: 2vw;
  }
  nav ul {
    margin: 2vw;
    border-radius: 0.25rem;
  }
  .quote {
    width: 11rem;
    background-color: white;
    opacity: 0.5;
    color: mediumblue;
    padding: 1rem;
  }
  strong.DMC {
    font-size: 1.38rem;
  }
  div#parent-delorean {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  ul#inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
  }
  div.namePrice {
    text-align: center;
  }
  div#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  /* form */
  div#login_form,
  div#register_form,
  div#add-vehicle,
  div#add-classification {
    width: 25rem;
    margin: 2vw;
    padding: 3rem;
  }
  input {
    width: 18rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  textarea#inv_description {
    width: 18rem;
  }
}
